{% extends 'base.html' %}
{% block title %}New User{% endblock %}
{% block content %}
<h1>Sign Up</h1>


<div class="card">
  <div class="card-body">
      <div class="row card-body">
        <div class="card col-12">
          <div class="card-body">
            <form action="/" method="POST">
              <div class="form-group">
                <label for="first-name">First Name: </label>
                <input type="text" id="first-name" class="form-control" name="firstName" required>
              </div>
              <div class="form-group">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" class="form-control" name="lastName" required>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" name="email" required>
              </div>
              <button class="btn btn-primary">Add</button>
              <a href="/" class="btn btn-danger">Cancel</a>
            </form>
        </div>
        </div>

        </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
    $('#link_signup').toggleClass('active');
{% endblock %}